<!doctype html>
<html>
    <head>
        {block name="doc_head"}
        <link rel="stylesheet" href="{asset_url()}third_party/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="{asset_url()}third_party/bootstrap-combobox/css/bootstrap-combobox.css" />
        <link rel="stylesheet" href="{asset_url()}theme/datepicker/css/datepicker.css" />
        <link rel="stylesheet" href="{asset_url()}third_party/timepicker/timepicker.css " />
        <link rel="stylesheet" href="{asset_url()}theme/css/base.css" />
        {/block}
    </head>
    <body>
        {block name="body"}{/block}
        {block name="body_scripts"}
            <script src="{asset_url()}third_party/jquery.js"></script>
        {/block}
    </body>
</html>
