
<div class="container footer_top">
    <div class="row">
        <div class="col-lg-4 col-md-6 sigup">
            <h6>NEWSLETTER SIGNUP</h6>
            <p>SIGN UP FOR OUR NEWSLETTER <br> AND GET THE LATEST NEWS.</p>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="sr-only">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="INSERT EMAIL">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger">
                            <span class="btn-name">SUBMIT EMAIL</span>
                            <span class="icon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 center">
            <a href="#" class="footer_logo">
                <img src="/static/img/logo-footer.png" alt="Jung Do Kwan"/>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .</p>
            <address>
                <p><small>Phone: &nbsp; &nbsp; &nbsp;</small>08 54124246 - <small>Hotline: </small> 0906 314 199</p>
                <p><small>e-mail: &nbsp; &nbsp; &nbsp;</small>info@jungdokwan.vn</p>
            </address>
        </div>
        <div class="col-lg-4 col-md-6 footer-link">
            <section class="section">
                <h6>MENU</h6>
                <ul class="nav">
                    <li><a href="#">> &nbsp; Giới thiệu</a></li>
                    <li><a href="#">> &nbsp; Ban huấn luyện</a></li>
                    <li><a href="#">> &nbsp; Chương trình</a></li>
                    <li><a href="#">> &nbsp; Lịch học</a></li>
                    <li><a href="#">> &nbsp; Liên hệ</a></li>
                </ul>
            </section>
            <section class="section">
                <h6>COMMUNITY</h6>
                <ul class="nav">
                    <li><a href="#">> &nbsp; Tin tức</a></li>
                    <li><a href="#">> &nbsp; Sự kiện</a></li>
                    <li><a href="#">> &nbsp; Hỗ trợ</a></li>
                    <li><a href="#">> &nbsp; Đăng kí nhận tin</a></li>
                </ul>
            </section>				
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p>&copy; 2014 JUNGDOKWAN VIETNAM</p>
            </div>
            <div class="col-lg-6 col-md-6  clearfix">
                <ul class="socials">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-pinterest"></span></a></li>
                    <li><a href="#"><span class="icon-googleplus"></span></a></li>
                    <li><a href="#"><span class="icon-tumblr"></span></a></li>
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
