<meta http-equiv="Content-Type" content='text/html; charset=utf-8'>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icons/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/mediaelementplayer.css" rel="stylesheet" type="text/css" />
<link href="/static/css/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
<!--<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>-->



