<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/css/iconsp.css" rel="stylesheet" />
    <link href="/static/css/iframe.css" rel="stylesheet" type="text/css" /><link href="/static/js/kjs/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/kjs/jquery.als.js"></script>
    <script type="text/javascript" src="/static/js/jq123.js"></script>
    

    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/backbone-min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {block name="app_head"}
    <title>Untitled Document</title>
    <script type="text/javascript">
       var config = {
        base: '{site_url()}/apps'        
    };

    </script>
    {/block}
</head>
<body>
    <script type="text/javascript">                
                if (!"console" in window) {
                    window.console = {
                        log: function () {}
                    }
                }
                window['af'] = $.extend(window.af, {
                    v: 1,
                    rootUri : '{site_url()}',
                    // myUserId : '{if $user AND $user->id}{$user->id}{else}-1{/if}',
                    // userIsAccountAdmin : {json_encode($user AND $user->is_account_admin == "Y")},
                    getUrl : function (path) {
                        return this.rootUri + path;
                    }
                });     
        </script>
    <script type="text/javascript" src="/static/js/jquery.ba-postmessage.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ba-dotimeout.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    {block name="body_head_scripts"}{/block}
        {block name="body_main"}{/block}
        {block name="app_main"}{/block}
        {block name="body_post_scripts"}{/block}
        {block name="app_scripts"}{/block}
</body>
</html>